@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<!DOCTYPE html>

<style>
    body {
        background-image: url(../images/coloredBackground.jpg);
        background-size: cover;
    }
    .barrier {
        background-image: radial-gradient(yellow, red);
        padding-top: .1em;
        padding-bottom: 5em;
        margin-top: 5em;
        margin-bottom: 5em;
        border-radius: 25px;
        opacity: 0.9;
    }
    .main {
        height: auto;
        width: auto;
        margin: auto;
        background-image: radial-gradient(yellow, red);
        border-radius: 15px;
        padding-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .mainHeader {
        font-size: 50px;
        text-align: center;
        margin-bottom: -0.2em;
        font-weight: 900;
        font-family: Britannic;
    }

    hr {
        width: 93%;
        border-color: black;
    }

    .mainParagraph {
        text-align: center;
        font-size: 26px;
        margin-bottom: -0.2em;
        font-weight: 900;
        font-family: Britannic;
    }
    .rows{
        table-layout: auto;
    }
    .photoTable{
        table-layout: auto;
    }
    .pic {
        height: 700px;
        width: 950px;
        max-width: 100%;
        max-height: 100vh;
        left: 0;
        right: 0;
        padding: 3em;
        position: static;
    }

    button {
        margin: auto;
        display: block;
        background-image: radial-gradient(red, yellow);
        margin-bottom: .5em;
        font-family:Aharoni;
        font-size: 20px;
    }
    .description{
        margin-top: -35px;
        margin-left: 42px;
        margin-right: 42px;
        color: white;
        background-color: black;
        text-align: center;
        opacity: 0.7;
        left: 0;
        right: 0;
    }

</style>

<body>
    <div class="barrier">
        <div class="main">
            <h1 class="mainHeader">@Model.Message</h1>
            <hr />
            <h2 class="mainParagraph">
                Iconic Captures of the Burlington Legends
            </h2>
        </div>

    <div class="gallery">
        <table align="center" class="photoTable">
            <tr class="rows">
                <th>
                    <img src="~/images/juiceRap.jpg" class="pic" />
                    <div class="description">
                        <p id="picture"></p>
                    </div>
                    <button id="change" align="center" type="button" onclick="Description1()">
                        Description
                    </button>
                </th>

                <th>
                    <img src="~/images/juiceone.jpg" class="pic" />
                    <div class="description">
                        <p id="picture2"></p>
                    </div>
                    <button id="change2" align="center" type="button" onclick="Description2()">
                        Description
                    </button>
                </th>
            </tr>

            <tr class="rows">
                <th>
                    <img src="~/images/juiceSam.jpg" class="pic" />
                    <div class="description">
                        <p id="picture3"></p>
                    </div>
                    <button id="change3" align="center" type="button" onclick="Description3()">
                        Description
                    </button>
                </th>
                <th>
                    <img src="~/images/juiceJam.jpg" class="pic" />
                    <div class="description">
                        <p id="picture4"></p>
                    </div>
                    <button id="change4" align="center" type="button" onclick="Description4()">
                        Description
                    </button>
                </th>
            </tr>
        </table>
    </div> 

</div>





    <script>
        //Photo 1
        function Description1() {     
            document.getElementById("picture").innerHTML =
                "An iconic capture of the historic Juice Box.  These " +
                "guys are sick";
            document.getElementById('change').innerText = "Hide";
            document.getElementById('change').onclick = function () { Close1() };
        }

        function Close1() {
            document.getElementById("picture").innerHTML = "";
            document.getElementById("change").innerText = "Description";
            document.getElementById("change").onclick = function () { Description1() };

        }

        //Photo 2
        function Description2() {
            document.getElementById("picture2").innerHTML =
                "test Please";
            document.getElementById('change2').innerText = "Hide";
            document.getElementById('change2').onclick = function () { Close2() };
        }

        function Close2() {
            document.getElementById("picture2").innerHTML = "";
            document.getElementById("change2").innerText = "Description";
            document.getElementById("change2").onclick = function () { Description2() };

        }

        //Photo 3
        function Description3() {
            document.getElementById("picture3").innerHTML =
                "An iconic capture of the historic Juice Box.  These " +
                "guys are sick";
            document.getElementById('change3').innerText = "Hide";
            document.getElementById('change3').onclick = function () { Close3() };
        }

        function Close3() {
            document.getElementById("picture3").innerHTML = "";
            document.getElementById("change3").innerText = "Description";
            document.getElementById("change3").onclick = function () { Description3() };

        }

        //Photo 4
        function Description4() {
            document.getElementById("picture4").innerHTML =
                "test Please";
            document.getElementById('change4').innerText = "Hide";
            document.getElementById('change4').onclick = function () { Close4() };
        }

        function Close4() {
            document.getElementById("picture4").innerHTML = "";
            document.getElementById("change4").innerText = "Description";
            document.getElementById("change4").onclick = function () { Description4() };

        }
    </script>
</body>