@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<!DOCTYPE html>

<style>
    
    body{
        background-image: url(../images/yellow-red.jpg);
        background-size: cover;
    }

</style>

<body>


</body>